<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candidatos</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script>
    $(document).ready(function () {
      load_data();
      function load_data(ida, idi, con, dep, esc, pcd, gen) {
        $.ajax({
          url: "/search",
          method: "POST",
          data: {
            idade: ida,
            idioma: idi,
            conhecimento: con,
            dependentes: dep,
            escolaridade: esc,
            pcd: pcd,
            genero: gen
          },
          success: function (data) {
            $('#result').html(data);
            $("#result").append(data.htmlresponse);
          }
        });
      }

      $('#submit_btn').click(function () {
        var idade_val = $('#idade_input').val();
        var idioma_val = $('#idioma_input').val();
        var conhecimento_val = $('#conhecimento_input').val();
        var dependente_val = $('#dependente_input').val();
        var escolarida_val = $('#escolarildade_input').val();
        var pcd_val = $('#pcd_input').val();
        var genero_val = $('#genero_input').val();
        load_data(idade_val, idioma_val, conhecimento_val, dependente_val, escolarida_val, pcd_val, genero_val)
      });

    });
  </script>
</head>

<body>
   <div class="container search-table">
      <p>
      <h2 align=center>Busca de candidato - JETSOFT</h2>
      </p>
      <div class="search-box">
        <div class="row">
            <div class="col-md-9">
                <input type="text" name="idade" id="idade_input" class="form-control" placeholder="Idade ">
                <input type="text" name="idioma" id="idioma_input" class="form-control" placeholder="Idioma ">
                <input type="text" name="nivel_escolaridade" id="escolarildade_input" class="form-control" placeholder="Nivel de escolaridade ">
                <select id="dependente_input" class="form-select mb-3">
                    <option selected>Obrigatorio</option>
                    <option value="4">Nenhum</option>
                    <option value="1">1 - 3</option>
                    <option value="7">4 ou mais</option>
                </select>
                <select id="pcd_input" class="form-select form-select-lg mb-3">
                    <option selected>PCD</option>
                    <option id="pcd_input" value="1">Sim</option>
                    <option id="pcd_input" value="0">Não</option>
                </select>
                <select id="genero_input" class="form-select form-select-lg mb-3 ">
                    <option selected>Genero</option>
                    <option id="genero_input" value="U">Outros..</option>
                    <option id="genero_input" value="O">Masculino</option>
                    <option id="genero_input" value="X">Feminino</option>
                </select>
                <button type="button" class="btn btn-primary" name="submit" id="submit_btn">Buscar</button>
            </div> 
        </div>
    </div>
<div id="result"></div>
  </div>
</body>

</html>
