<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busca de Candidatos</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script>
    $(document).ready(function(){
      load_data();
      function load_data(ida,idi,esc,dep,pcd,gen,ckida,ckidi,ckesc,ckdep,ckpcd,ckgen){
        $.ajax({
          url:"/search",
          method:"POST",
          data:{idade: ida,
          idioma: idi,
          escolaridade: esc,
          dependentes: dep,
          pcd: pcd,
          genero:gen,
          checkIdade: ckida,
          checkIdioma: ckidi,
          checkEscolaridade: ckesc,
          checkDependentes: ckdep,
          checkPCD: ckpcd,
          checkGenero: ckgen},  
          success:function(data){
            $('#result').html(data);
            $("#result").append(data.htmlresponse);
          }
        });
      }

      $('#submit_btn').click(function(){
        var idade_val = $('#idade_input').val();
        var idioma_val = $('#idioma_input').val();
        var escolarida_val = $('#escolarildade_input').val();
        var dependente_val = $('#dependente_input').val();
        var pcd_val = $('#pcd_input').val();
        var genero_val = $('#genero_input').val();
        if($('#checkida').is(":checked")){
          var checkida_val = $('#checkida').val();
        }else {
          var checkida_val = 0;
        }
        if($('#checkidi').is(":checked")){
          var checkidi_val = $('#checkidi').val();
        }else {
          var checkidi_val = 0;
        }
        if($('#checkesc').is(":checked")){
          var checkesc_val = $('#checkesc').val();
        }else {
          var checkesc_val = 0;
        }
        if ($('#checkdep').is(":checked")) {
               var checkdep_val = $('#checkdep').val();
        }else {
          var checkdep_val = 0;
        }
        if($('#checkpcd').is(":checked")){
          var checkpcd_val = $('#checkpcd').val();
        }else {
          var checkpcd_val = 0;
        }
        if($('#checkgen').is(":checked")){
          var checkgen_val = $('#checkgen').val();
        }else {
          var checkgen_val = 0;
        }
        load_data(idade_val,idioma_val,escolarida_val,dependente_val,pcd_val,genero_val,checkida_val,checkidi_val,checkesc_val,checkdep_val,checkpcd_val,checkgen_val)
      });
    });
  </script>
</head>

<body>
  <h2 class="titulo" align="center">Busca de Candidatos - JETSOFT</h2>
  <div class="container search-table">    
    <div class="search-box col-12">
        <div class="row">
            <div class="input-group">
              <input type="checkbox" class="form-check-input" id="checkida" value="Idade">
              <input type="text" name="idade" id="idade_input" class="form-control mb-3" placeholder="Idade">
            </div>
            <div class="input-group">
              <input type="checkbox" class="form-check-input" id="checkidi" value="Idioma">
              <input type="text" name="idioma" id="idioma_input" class="form-control mb-3" placeholder="Idioma">
            </div> 
            <div class="input-group">
              <input type="checkbox" class="form-check-input" id="checkesc" value="Escolaridade">
              <input type="text" name="nivel_escolaridade" id="escolarildade_input" class="form-control mb-3" placeholder="Nivel de escolaridade">
            </div>                    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="checkbox" class="form-check-input" id="checkdep" value="Dependentes">
                  <label class="input-group-text" for="inputGroupSelect01">Dependentes</label>
                </div>
                <select id="dependente_input" class="custom-select">
                    <option selected>Escolher...</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="checkbox" class="form-check-input" id="checkpcd" value="PCD">
                  <label class="input-group-text" for="inputGroupSelect01">PCD</label>
                </div>
                <select id="pcd_input" class="custom-select">
                    <option selected>Escolher...</option>
                    <option id="pcd_input" value="1">Sim</option>
                    <option id="pcd_input" value="0">Não</option>
                </select>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <input type="checkbox" class="form-check-input" id="checkgen" value="Genero">
                  <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                </div>
                <select id="genero_input" class="custom-select">
                    <option selected>Escolher...</option>
                    <option id="genero_input" value="i">Outros..</option>
                    <option id="genero_input" value="X">Masculino</option>
                    <option id="genero_input" value="O">Feminino</option>
                </select>
            </div>
            <div style="width: 100%;">
              <button type="button" name="submit" id="submit_btn" class="btn btn-dark" style="width: 40%; margin-left: 30%;">Buscar</button> 
            </div>             
        </div>
    </div>    
  </div>
  <div class="container result-table">
    <div id="result"></div>
  </div>
</body>

</html>
