<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Busca de Candidatos</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script>
    $(document).ready(function(){
      load_data();
      function load_data(ida,idi,esc,dep,pcd,gen){
        $.ajax({
          url:"/search",
          method:"POST",
          data:{idade: ida,
          idioma: idi,
          escolaridade: esc,
          dependentes: dep,
          pcd: pcd,
          genero:gen},
          success:function(data){
            $('#result').html(data);
            $("#result").append(data.htmlresponse);
          }
        });
      }

      $('#submit_btn').click(function(){
        var idade_val = $('#idade_input').val();
        var idioma_val = $('#idioma_input').val();
        var escolarida_val = $('#escolarildade_input').val();
        var dependente_val = $('#dependente_input').val();
        var pcd_val = $('#pcd_input').val();
        var genero_val = $('#genero_input').val();
        load_data(idade_val,idioma_val,escolarida_val,dependente_val,pcd_val,genero_val)
      });
    });
  </script>
</head>

<body>
  <h2 class="titulo" align="center">Busca de Candidatos - JETSOFT</h2>
  <div class="container search-table">    
    <div class="search-box col-12">
        <div class="row">
            <div class="input-group">
                <input type="text" name="idade" id="idade_input" class="form-control mb-3" placeholder="Idade">
            </div>
            <div class="input-group">
                <input type="text" name="idioma" id="idioma_input" class="form-control mb-3" placeholder="Idioma">
            </div> 
            <div class="input-group">
                <input type="text" name="nivel_escolaridade" id="escolarildade_input" class="form-control mb-3" placeholder="Nivel de escolaridade">
            </div>                    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Dependentes</label>
                </div>
                <select id="dependente_input" class="custom-select">
                    <option selected>Escolher...</option>
                    <option value="0">Nenhum</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">PCD</label>
                </div>
                <select id="pcd_input" class="custom-select">
                    <option selected>Escolher...</option>
                    <option id="pcd_input" value="1">Sim</option>
                    <option id="pcd_input" value="0">Não</option>
                </select>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Genero</label>
                </div>
                <select id="genero_input" class="custom-select">
                    <option selected>Escolher...</option>
                    <option id="genero_input" value="i">Outros..</option>
                    <option id="genero_input" value="X">Masculino</option>
                    <option id="genero_input" value="O">Feminino</option>
                </select>
            </div>
            <div style="width: 100%;">
              <button type="button" name="submit" id="submit_btn" class="btn btn-dark" style="width: 40%; margin-left: 30%;">Buscar</button> 
            </div>             
        </div>
    </div>    
  </div>
  <div class="container result-table">
    <div id="result"></div>
  </div>
</body>

</html>
