<h3 class="titulo-result">{{numrows}} Registros Encontrados...</h3>
<table class="table table-bordered">

   <thead class="thead-dark">
      <tr>
         <th scope="col">Nome</th>
         <th scope="col">Escolaridade</th>
         <th scope="col">Idiomas</th>
         <th scope="col">PCD</th>
         <th scope="col">Genero</th>
      </tr>
  </thead>
  <tbody>
{% for row in cdd %}  
   <tr>
      <td>{{row.NOME}}</td>
      <td>{{row.NIVEL_ESCOLADIDADE}}</td>
      <td>{{row.IDIOMAS}}</td>
      <td>{{row.PCD}}</td>
      <td>{{row.GENERO}}</td>
   </tr>
{% endfor %} 