body{
    background: white;
}
.search-table{
    background: #1E90FF;
    padding: 1%;
    margin-top: 2%;
    border-radius: 10px;
}
.titulo{
    background: #1E90FF;
    color:	white;
    padding: 3%;
    margin-top: 2%;
}
.titulo-result{
    color:	black;
    margin-top: 3%;
}
.buscar{
    margin-left: 42%;
}

